<h1>Virgin Airlies</h1>
<!-- <button><%= link_to "Create flight", new_flight_path %></button> -->
<br>


<div class="container">
  <div class="row">
    <div class="col col-1" id="titleContainer">
      Date
    </div>
    <div class="col col-1">
      Flight
    </div>
    <div class="col col-1">
      Departure
    </div>
    <div class="col col-1">
      Destiniation
    </div>
    <div class="col col-1">
      Plane
    </div>
    <div class="col col-1">
      Seats
    </div>
    <div class="col col-1">
      <%= link_to "Create flight", new_flight_path %>
    </div>
  </div>
</div>

<div class="container">
  <% @flights.each do |flight| %>
  <div class="row">
      <div class="col">
        <%date = flight.date.in_time_zone("Sydney") %>
        <p><%= date.strftime("%H:%M %Z %d/%m/%Y") %></p>
      </div>
      <div class="col">
        <p><%=link_to flight.id, flight_path(flight.id)%></p>
      </div>
      <div class="col">
        <p><%=flight.from_airport %></p>
      </div>
      <div class="col">
        <p><%=flight.to_airport %></p>
      </div>
      <div class="col">
        <p><%=flight.airplane.name %></p>
      </div>
      <div class="col">
        <p><%=flight.airplane.rows * flight.airplane.columns %></p>
      </div>
      <div class="col">
        <p><%=link_to "Edit this flight", edit_flight_path(flight.id) %></p>
      </div>
  </div>
  <!-- <div class="row">
    <%=link_to "Edit this flight", edit_flight_path(flight.id) %>
  </div> -->
  <% end %>
</div>
