<h1>Virgin Airlines</h1>
<!-- <button><%= link_to "Create Plane", new_airplane_path %></button> -->
<br>

<div class="container">
  <div class="row flightIndex">
    <div class="col" id="titleContainer">
      Name
    </div>
    <div class="col">
      Rows
    </div>
    <div class="col">
      Columns
    </div>
    <div class="col">
      <%= link_to "Create Plane", new_airplane_path %>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div class="container">
  <% @airplanes.each do |airplane| %>
  <div class="row flightIndex">
    <div class="col">
      <p><%=link_to airplane.name, airplane_path(airplane) %></p>
    </div>
    <div class="col">
      <p> <%=airplane.rows %></p>
    </div>
    <div class="col">
      <p> <%=airplane.columns %></p>
    </div>
    <div class="col">
      <%=link_to "Edit this airplane", edit_airplane_path(airplane.id) %>
    </div>
    <div class="col">
      <%= link_to "Delete this airplane", airplane_path(airplane), method: :delete %>
    </div>
  </div>
  <% end %>
</div>
