<h1>Airplane: <%= @airplane.name %></h1>

<p>Row(s): <%= @airplane.rows %></p>
<p>Column(s): <%= @airplane.columns %></p>
<br>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <% @rows.map do |row| %>
    <div class="col">
      <%= @list[row]%>
    </div>
    <% end %>
  </div>
  <% @columns.map do |row| %>
    <div class="row">
      <div class="col">
        <% row%>
      </div>
    </div>
    <div class="row">
      <div class="col" id="colNumber">
        <%= row %>
      </div>
        <% @rows.map do |column| %>
          <div class="col flightBorder">

              <% column %>

        </div>
        <% end %>
      </div>
  <% end %>
</div>
<hr>
<%= link_to "Back to index page", airplanes_path %>
